/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.header-bar {
  position: fixed;
  top: 0; 
  background-color: grey;
  width: 100%;
}
.header-bar h1 {
  margin-left: 50px;
}

/* nav bar */

 nav {
  margin-top: 80px;
  background-color: #333;
  padding: 1em 1.5em;
  padding: 8px;
  position: fixed;
  top: 0; 
  width: 100%;
 }

a {
  margin-left: 50px;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
  background-color:#333;
}

a:hover {
  background-color: #dddddd;
}

.active {
  background-color: #04AA6D;
}

main {
  margin: auto;
  margin-top: 115px;
  width: 90vw;
}

/* home page  */

.home-main {
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  gap: 10px 20px;
}


.home-art {
  flex-grow: 2;
  flex-basis: auto;
  width: 30vw;
  max-height: 100vh;
  text-align: center;
  border-bottom: solid 5px  black;
  border-left: solid 1px  black;;
  overflow: hidden;

}
.home-art-2 {
  flex-grow: 1;
  width: 25vw;
  max-height: 15vh;
  text-align: center;
  border-bottom: solid 5px  black;
  border-left: solid 1px  black;;
  overflow:scroll;
}


img {
  width:100%;
  height:80%;
  object-fit: cover;
  overflow: hidden;
}



h5 {
  display: inline-block;
  width: 49%;
  text-align: center;
}

article h3 {
  line-height: 1em;
}

.article-main {
  background-color: grey;
  gap: 10px;
  gap: 10px 20px;
}

/* single article  */

.article-art header h2 {
  text-align: right;
}

.article-art {
  align-items: stretch;
  text-align: center;
  background-color: whitesmoke;
  border-bottom: solid 5px  black;
  display: grid;
  grid-template-columns: 50%  37.5%  12.5%;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header aside"
  "img body body"
  "img body body"
  ;

}
.article-art img {
  grid-area: img;
  place-self: center;
}
.article-art header {
  grid-area: header;

  border-bottom: solid 5px  black;
  border-left: solid 1px  black;;
}
.article-art section {
  grid-area: aside;
  border-bottom: solid 5px  black;
  border-left: solid 1px  black;;

}
.article-art body {
  grid-area: body;
  place-self: center;
}

.clicked-col {
  background-color: #04AA6D;
}


/* comments section  */

.commenter {
  margin-top: 0%;
  text-align: right;
}
.comment-all {
  border: solid 1px black;
}
.comment-body {
  margin: auto;
  margin-top: 0;

}